.menu{
  list-style-type: none; /*verhindert, dass Aufzählungspunkte angezeigt werden*/
  margin: 0; /*verhindert zusätzliche Abstände*/
  padding:0;
  }
.menu_link{
  background-color: black;
  color: white;
  text-decoration: none; /*Verhindert die Unterstreichung der Links*/
  border-bottom: 1px solid white;
  display: block;
  height: 40px;
  text-align: center; /* horizontal zentriert*/
  line-height: 40px;  /* vertikal zentriert*/
  }

img{
  width:100%;
  }

.menu_link_buttom{
  background-color: #f2f2f2;
  color:#333333;
  text-decoration: none; /*Verhindert die Unterstreichung der Links*/
  display: block;
  height: 35px;
  text-align: center; /* horizontal zentriert*/
  line-height: 35px;  /* vertikal zentriert*/
  }

  @media screen and (min-width: 500px) {

    .menu_link{
      border-right: 1px solid white; /*Zur besseren Unterscheidung der Menü-Elemente*/
      }

    .menu{
      display: flex; /*Notwendig, damit flex-direction und flex-grow funktionieren*/
      flex-direction: row; /*Alle Elemente innerhalb von ul werden horizontal angeordnet*/
      }

    .menu_item{
      flex-grow: 1; /*Alle Elemente mit dieser Klasse werden auf die gleiche Größe skaliert.*/
      }
